
.box {
  height: 200px;
  color: red;
  font-size: 25px;
  display: grid;
  grid-template-columns: 150px 150px 900px 50px;
  grid-template-rows: auto;
  justify-content: space-around;
  margin-top: 10px;
  border: 2px solid rgb(212, 95, 95);
}
.item {
  margin: 10px;
  height: 25px;
}
.item b {
  position: absolute;
  padding-top: 65px;
}
button img {
  width: 25px;
}
.buttons {
  display: flex;
}
.checkbox {
  position: absolute;
  width: 100px;
  
}
