.box {
  height: 100px;
  color: red;
  font-size: 25px;
  display: grid;
  grid-template-columns: 300px 600px 300px;
  grid-template-rows: auto;
  justify-content: space-around;
  margin-top: 30px;
}
.item {
  margin: 10px;
}
button img {
  width: 25px;
}
.buttons {
  display: flex;
}
.checkbox {
  position: absolute;
  width: 100px;
  margin-left: 200px;
}
